
@{
    ViewData["Title"] = "Project";
}


<div class="container">
    <br />
    <br />
    <h5>Proje Hakkında</h5>
    <hr />
    <h1><b><i class="fa fa-globe"></i>&nbsp;MovieApp</b></h1>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h4><b>Proje Hakkında</b></h4>
            <p>
                <ul>
                    <li>  Bootstrap responsive bir tasarım ile sayfalar oluşturuldu.</li>
                    <li> ASP.NET Core  Mvc kullanarak geliştirme yapıldı. </li>
                </ul>
            </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4><b>Kullanılan Teknoloji </b></h4>
            <ul>
                <li>Asp.Net Core Mvc </li>
                <li>.Net Core 2.1</li>
                <li>Bootstrap Css Framework 4.3.1</li>
                <li>FontAwesome Icon Framework 4.7.0</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h4><b>Proje Katmaları</b></h4>
            <ul>
                <li>
                    MovieApp   <small>(Solution)</small>
                    <ul>
                        <li>MovieApp.MvcWebUI <small>(Web Sitesi)</small></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

