<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Albüm örneği Asp.Net Core MVC ve Bootstrap ile oluşturuldu &copy; 2019  | Ali Yasin DOĞAN </p>
        <p><a href="https://github.com/aliyasindogan">Github'dan Proje Kodlarına Ulaşmak için Tıkla</a></p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">

</script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>